{% extends 'main/layout.html' %}
{% block title %} Оприходование товара{% endblock %}
{% block content %}
    <div class="features">
     {% if title %}
    <h1> {{title}} </h1>
        {% else %}
    <h1> Форма редактирования </h1>
         {% endif %}
        <form method="post">
            {% csrf_token %}
            <label>Наименование</label>
            {{form.product_name}}
            <label>Количество</label>
            {{form.amount}}
            <label>Ед. измерения</label>
            {{form.unit}}
            <label>Цена за единицу</label>
            {{form.price_for_one}}
            <label>Место хранения на складе</label>
            {{form.place_for_store}}
            <label>Поставщик</label>
            {{form.provider}}
            <label>Номер сертификата</label>
            {{form.certificate}}
            <label>Описание товара</label>
            {{form.description}}
            <label>Срок годности</label>
            <p>{{form.valid}}</p>
            <button type="submit" class="btn btn-info" >Сохранить</button>
        </form>
            <span>{{error}}</span>
    </div>
{% endblock %}